@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PoppinsLight";
    src: url("../public/fonts/Poppins-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsRegular";
    src: url("../public/fonts/Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsMedium";
    src: url("../public/fonts/Poppins-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsSemi";
    src: url("../public/fonts/Poppins-SemiBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsBold";
    src: url("../public/fonts/Poppins-Bold.ttf");
    font-display: swap;
}

html{
    scroll-behavior: smooth
}